/* Wrapper for the catalogue. */
/*¿reg*/
.wrapper{
	width: fit-content;
	height: fit-content;
	padding: 2rem;
	background-color: var(--clr-palette-darkest);
	box-shadow: 0px 0px 50px var(--clr-palette-darkest);
	border-radius: 10px;
	margin: auto;
	
	margin-left: 4rem;
	margin-right: 4rem;
}
/*?reg*/

/* Styles for the catalogue */
/*¿reg*/
.catalogue-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-evenly;
	width: 100%;
	
	gap: 20px;
}

.card {
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 48ch;
	display: flex;
	
	flex-direction: column;
	
	padding: 1rem;
	background-color: var(--clr-palette-dark);
	
	border-radius: 10px;
	border: solid 2px var(--clr-palette-light);
}

.card img {
	border-radius: 40px;
	border: solid 3px var(--clr-palette-lighter);
	
	max-width: 280px;
	max-height: 180px;
	
	margin: auto;
}

.card h3 {
	text-align: center;
	font-size: 4rem;
	margin-block: 0;
	margin: auto;
	
	margin-top: 10px;
	margin-bottom: 16px;
	
	font-family: "Bebas Neue", sans-serif;
}


.card p {
	padding: 1rem;
	font-family: "Roboto Slab", serif;
	font-size: 1rem;
	font-weight: 400;
	margin-block: 0;
	
	background-color: var(--clr-palette-darkest);
	color: var(--clr-palette-hl);
	margin: auto;
	
	border-radius: 8px;
	max-width: 32ch;
}

@media ( width <= 970px ) {
	.catalogue-container {
		flex-direction: column;
	}	
	
	.card p {
		font-size: 0.9rem;
	}
	
	.card h3 {
		font-size: 1.8rem;
	}
	
	.card img {
		max-width: 120px;
	}
	
	.wrapper {
		margin: auto;
	}
}

/*?reg*/


